html, body {
	margin: 0;
	padding: 0;
}

body {
	min-height: 98vh;
	width: 100vh;
}

* {
	box-sizing: border-box;
}

div#main {
	min-height: 95vh;
	width: 105vw;
	left: -10%;
	background: rgb(52,92,62);
	background: -moz-radial-gradient(circle, rgba(52,92,62,1) 0%, rgba(57,96,82,1) 20%, rgba(60,90,92,1) 37%, rgba(62,84,101,1) 48%, rgba(65,78,111,1) 67%, rgba(66,75,116,1) 74%, rgba(72,63,137,1) 100%);
	background: -webkit-radial-gradient(circle, rgba(52,92,62,1) 0%, rgba(57,96,82,1) 20%, rgba(60,90,92,1) 37%, rgba(62,84,101,1) 48%, rgba(65,78,111,1) 67%, rgba(66,75,116,1) 74%, rgba(72,63,137,1) 100%);
	background: radial-gradient(circle, rgba(52,92,62,1) 0%, rgba(57,96,82,1) 20%, rgba(60,90,92,1) 37%, rgba(62,84,101,1) 48%, rgba(65,78,111,1) 67%, rgba(66,75,116,1) 74%, rgba(72,63,137,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#345c3e",endColorstr="#483f89",GradientType=1);
	padding-bottom: 2.5rem;
}