html, body {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vh;
}

* {
	box-sizing: border-box;
}

div#main {
	height: 90vh;
	width: 105vw;
	left: -10%;
	background: radial-gradient(#429E42, #8A61C7);
}