.titlebar-nav { 
	position: absolute;
	background-color: white;
	width: 105%;
	height: 12%;
	left: -3%;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius: 50% 50%;
	border-bottom-right-radius: 50% 50%;
}